#s-aboutme {
  padding: 64px 0px;
  background-color: #fff;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .grid-layout {
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: auto;

      @include responsive-desktop {
        flex-wrap: wrap;
        gap: $gap-40;
      }

      #creator-photo {
        width: 45%;
        background-image: url("../images/cibelle-2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 644px;
        border-radius: 40px;

        @include responsive-desktop {
          background-position: top;
        }

        @include responsive-desktop {
          width: 100%;
          height: 400px;
        }

        @include responsive-tablet {
          height: 350px;
        }

        @include responsive-mobile {
          height: 300px;
        }
      }

      div:nth-child(2) {
        width: 50%;

        @include responsive-desktop {
          width: 100%;
        }

        h2 {
          font-size: 4rem;
          font-weight: 400;

          background: $color-secondary;
          background-clip: text;
          color: transparent;

          @include responsive-tablet {
            font-size: 3.2rem;
          }
        }

        p {
          font-size: 2.4rem;
          color: $color-dark;
          line-height: 150%;
          margin: $gap-24 0px 48px 0px;
          font-weight: 500;

          @include responsive-tablet {
            font-size: 2rem;
          }
        }

        .whatsapp {
          width: auto;
          background: #139D01;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          padding: 16px 40px;
          gap: 16px;

          img {
            width: 32px;

            @include responsive-desktop {
              display: none;
            }
          }

          button {
            font-weight: 500;
            font-size: 2rem;
            color: $color-white;
            cursor: pointer;
            background: transparent;

            @include responsive-desktop {
              font-size: 1.8rem;
            }
          }
        }

        .normal {
          @include responsive-desktop {
            width: 100%;
          }

          button {
            border-radius: 0px 8px 0px 8px;
            padding: 16px 40px;
            background: $color-secondary;
            font-weight: 500;
            font-size: 2rem;
            color: $color-white;
            cursor: pointer;

            @include responsive-desktop {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
