#s-depoiments {
  padding: 160px 0px;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .grid-layout {
    h2 {
      text-align: center;
      font-size: 4rem;
      margin-bottom: 80px;

      b {
        background: $color-primary;
        background-clip: text;
        color: transparent;
        font-weight: 400;
      }

      @include responsive-tablet {
        font-size: 3.2rem;
        margin-bottom: 40px;
      }
    }

    .container-testimonial {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 32px;

      @include responsive-desktop {
        flex-wrap: wrap;
      }
    }

    .testimonial-card {
      background-color: $color-dark-secondary;
      border: 2px solid $color-dark-border;
      border-radius: 8px;
      padding: 24px;

      width: 30%;
      flex-grow: 1;

      @include responsive-desktop {
        width: 100%;
      }

      > div {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 24px;

        img {
          border-radius: 100%;
        }

        h3 {
          font-size: 1.8rem;
          margin-bottom: 4px;
          color: $color-gray;
        }

        a {
          font-size: 1.6rem;
          color: $color-gray;
        }
      }

      p {
        font-size: 1.8rem;
        line-height: 160%;
        color: $color-white;

        @include responsive-desktop {
          font-size: 2rem;
        }
      }
    }

    > span {
      display: grid;
      place-items: center;

      a {
        @include responsive-desktop {
          width: 100%;
        }

        button {
          border-radius: 0px 8px 0px 8px;
          padding: 16px 40px;
          background: $color-secondary;
          font-weight: 500;
          font-size: 2rem;
          color: $color-white;
          cursor: pointer;

          @include responsive-desktop {
            width: 100%;
          }
        }
      }
    }
  }
}
