#s-guarantee {
  padding: 160px 0px;
  background-color: $color-dark-secondary;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .grid-layout {
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;

      @include responsive-desktop {
        flex-wrap: wrap;
        gap: $gap-24;

      }

      .container-heading-image {
        width: 43%;
        height: auto;

        @include responsive-desktop {
          width: 100%;
        }

        img {
          width: 80%;
        }
      }

      div:nth-child(2) {
        width: 53%;

        @include responsive-desktop {
          width: 100%;
        }

        h2 {
          font-size: 4rem;
          margin-bottom: 32px;

          b {
            background: $color-primary;
            background-clip: text;
            color: transparent;
            font-weight: 400;
          }
        }

        p {
          font-size: 2.4rem;
          color: $color-white;
          line-height: 160%;
          margin: 32px 0;

          @include responsive-desktop {
            font-size: 2rem;
            margin: $gap-24 0;
          }
        }
      }
    }
  }
}
