#s-guarantee {
  padding: $gap-96 0px;
  border-top: 1px solid $color-dark-secondary;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .grid-layout {
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: auto;

      @include responsive-desktop {
        flex-wrap: wrap;
        gap: $gap-24;
      }

      .container-heading-title {
        width: 41%;
        height: auto;
        display: flex;
        flex-direction: column;

        @include responsive-desktop {
          width: 100%;
        }

        h2 {
          font-size: 5.6rem;
          font-weight: 600;
          margin: $gap-8 0;
          width: 80%;

          @include responsive-desktop {
            font-size: 4rem;
            width: 100%;
          }

          b {
            color: $color-secondary;
            font-weight: 600;
          }
        }
      }

      div:nth-child(2) {
        width: 55%;

        @include responsive-desktop {
          width: 100%;
        }

        p {
          font-size: 2.4rem;
          color: $color-white;
          line-height: 160%;
          margin: $gap-40 0;

          @include responsive-desktop {
            font-size: 2rem;
            margin: $gap-24 0;
          }
        }
      }
    }
  }
}
