#s-swiper {
  padding: 160px 0px;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .grid-layout {
    h2 {
      text-align: center;
      font-size: 4rem;
      margin-bottom: 80px;

      b {
        background: $color-primary;
        background-clip: text;
        color: transparent;
        font-weight: 400;
      }

      @include responsive-desktop {
        font-size: 3.2rem;
      }
    }

    > span {
      display: grid;
      place-items: center;

      a {
        @include responsive-tablet {
          width: 100%;
        }

        button {
          border-radius: 0px 8px 0px 8px;
          padding: 16px 40px;
          background: $color-secondary;
          font-weight: 500;
          font-size: 2rem;
          color: $color-white;
          cursor: pointer;

          @include responsive-tablet {
            width: 100%;
          }
        }
      }
    }

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    div .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;

      @include responsive-desktop {
        height: 100%;
        width: 100%;
      }
    }

    .swiper-pagination-bullet {
      background-color: #fff;
      width: 20px;
      height: 20px;
      margin: 8px 12px;
    }

    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .mySwiper {
      margin: 64px 0px;
    }
  }
}
