#s-who {
  padding: 64px 0px;
  background-color: $color-dark-secondary;

  @include responsive-desktop {
    padding: $gap-40 0px;
  }

  .grid-layout {
    h2 {
      text-align: center;
      font-size: 4rem;
      margin-bottom: 80px;

      b {
        background: $color-primary;
        background-clip: text;
        color: transparent;
        font-weight: 400;
      }

      @include responsive-desktop {
        font-size: 3.2rem;
        margin-bottom: 40px;
      }
    }

    .who-card {
      background-color: $color-dark;
      border: 2px solid $color-dark-border;
      border-radius: 6px;
      padding: 32px;
      margin: 24px 0;

      > div {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 24px;

        h3 {
          font-size: 2.4rem;

          b {
            background: $color-primary;
            background-clip: text;
            color: transparent;
          }

          @include responsive-desktop {
            font-size: 2rem;
          }
        }
      }

      p {
        font-size: 2rem;
        line-height: 160%;
        color: $color-gray;
      }
    }

    > span {
      display: grid;
      place-items: center;

      a {
        @include responsive-desktop {
          width: 100%;
        }

        button {
          border-radius: 0px 8px 0px 8px;
          padding: 16px 40px;
          background: $color-secondary;
          font-weight: 500;
          font-size: 2rem;
          color: $color-white;
          cursor: pointer;

          @include responsive-desktop {
            width: 100%;
          }
        }
      }
    }
  }
}
