@import "./variables", "./reset", "./menu", "./home", "./swiper", "./guarantee",
  "./depoiments", "./pay", "./bonus", "./who", "./transformation", "./help",
  "./aboutme", "./faq";

.grid-layout {
  @include grid-layout();
}

#foto-cibelle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;

  @include responsive-tablet {
    top: 64px;
  }
}

footer {
  background-color: $color-dark-secondary;
  padding: 48px;
  text-align: center;

  @include responsive-desktop {
    padding: 48px 24px;
  }

  h2 {
    margin-bottom: 16px;
    font-size: 2.4rem;
    font-family: $font-description;

    b {
      background: $color-primary;
      background-clip: text;
      color: transparent;
      font-weight: 400;
    }

    @include responsive-desktop {
      font-size: 2rem;
    }
  }

  p {
    font-size: 2rem;
    color: $color-gray;

    @include responsive-desktop {
      font-size: 1.8rem;
    }
  }
}

.image-container {
  position: relative;
  display: inline-block;
  width: 48%;

  @include responsive-desktop {
    width: 100%;
  }
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}